.product-card{
  width: 500px;
  height: auto;
  border: 2px solid #D4AF37;
}
.image-container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.product-image{
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
.product-info{
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  width: 100%;
  min-height: 15vh;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
}
.product-name{
  font-family: "GFS Didot", serif;
  font-size: 2rem;
  font-weight: lighter;
  color: white;
  margin: 0;
  width: 100%;
  height: fit-content;
  text-align: center;
}
.product-description{
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  width: 100%;
  height: fit-content;
  margin: auto;
  color: #D4AF37;
  background-image: linear-gradient(180deg, #c2b68e, #d1b558 25%, #D4AF37 50%, #d1b558 75%, #c2b68e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.product-price{
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-top: 0.5rem;
  width: 100%;
  height: fit-content;
  margin-top: auto;
}
@media (max-width: 700px) {
  .product-card{
    width: 90%;
  }
  .product-name{
    font-size: 1.5rem;
  }
  .product-description{
    font-size: 1rem;
  }
  .product-price{
    font-size: 1.2rem;
  }
}