.product-card {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #ffd700;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 700px;
  height: 500px;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.product-card:hover {
  transform: scale(1.1);
}

.product-info {
  padding: 1.5rem;
  width: 100%;
    height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex: 1;
}

.product-name {
  font-size: 1.5rem;
  width: 100%;
    height: fit-content;
    text-align: center;
  font-weight: bold;
  margin: 0;
}

.product-description {
    width: fit-content;
    height: fit-content;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  flex: 1;
}

.product-price {
    width: fit-content;
    height: fit-content;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}
