.produktai-container{
    height: fit-content;
    width: 100%;
}
.produktai-background-effects{
padding-top: 80px;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #231f1eb4;
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
}
.produktai-name{
    font-family: "GFS Didot", serif;
    font-size: 3rem;
    font-weight: lighter;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0);
}
.produktai-about{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 2rem;
}
.products-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    width: 100%;
    height: auto;
    padding-bottom: 5rem;
    padding-top: 5rem;
}
@media (max-width: 700px){
    .products-cards-container{
        padding-left: 40px;
        padding-right: 0.5rem;
        padding-top: 5rem;
    }
}
