.produktai-container{
    padding-top: 80px;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.856);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(18.5px);
-webkit-backdrop-filter: blur(18.5px);
}
.produktai-name{
    font-family: "GFS Didot", serif;
    font-size: 3rem;
    font-weight: lighter;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0);
}
.produktai-about{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 2rem;
}
.products-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    width: fit-content;
    height: auto;
    padding: 5rem;
}
@media (max-width: 700px){
    .products-cards-container{
        padding-left: 40px;
        padding-right: 0.5rem;
        padding-top: 5rem;
    }
}
