.footer-container {
    display: none; /* Hidden by default on large screens */
    width: 100%;
    height: 80px;
    padding: 1rem;
    background: #231f1e;
    border-top: 2px solid #D4AF37;
    justify-content: center;
    align-items: center;
}

.footer-items {
    display: flex;
    height: fit-content;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
}

.footer-link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.footer-link-icon:hover {
    transform: scale(1.1);
}

.footer-icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

@media (max-width: 750px) {
    .footer-container {
        display: flex;
    }
}
