.sidebar-container{
    height: 100%;
    width: 120px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(15, 8, 8, 0);
}

.sidebar-items{
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.link-icon{
    margin-bottom: 40px;
    width: 80px;
    height: 80px;
    background: rgba(15, 8, 8, 0);
}
#icon{
    width: 80px;
    height: 80px;
    background: rgba(15, 8, 8, 0);
    color: #D4AF37;
}

@media (max-width: 750px) {
    .sidebar-container {
        display: none;
    }
}
