.sidebar-container{
    height: 100%;
    width: 80px;
    background-color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-left: 1rem;
    background: rgba(15, 8, 8, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.link-icon{
    margin-bottom: 40px;
    width: 60px;
    height: 60px;
    background: rgba(15, 8, 8, 0);
}
#icon{
    width: 60px;
    height: 60px;
    background: rgba(15, 8, 8, 0);
    color: #D4AF37;
}

@media (max-width: 768px) {
    .sidebar-container {
        width: 60px;
    }
    .button-icon {
        width: 40px;
        height: 40px;
        margin-bottom: 30px;
    }
    #icon {
        width: 40px;
        height: 40px;
    }
    
}