.pradžia-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.pradžia-background-effects{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(15, 8, 8, 0.664);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(18.5px);
-webkit-backdrop-filter: blur(18.5px);
padding-top: 80px;
}
.ola-logo-name{
    width: auto;
    max-height: 500px;
    height: 40vw;
    background: rgba(15, 8, 8, 0);
    margin-top: 20vh;
}