.pradžia-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 16px;
}
.pradžia-background-effects{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(15, 8, 8, 0.664);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(18.5px);
-webkit-backdrop-filter: blur(18.5px);
}
.logo-text{
    width: max-content;
    height: max-content;
    color: #D4AF37;
  background-image: linear-gradient(180deg, #b8ad95, #a89f8a 25%, #D4AF37 50%, #a89f8a 75%, #b8ad95 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
#logo-1{
    font-family: 'GFS Didot', serif;
    font-weight: 400;
  font-style: normal;
}
#logo-2{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  font-style: normal;
}