.header{
    width: 100%;
    height: 120px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(15, 8, 8, 0);
}
.logo-image{
    width: 80px;
    height: 80px;
    background: rgba(15, 8, 8, 0);
    margin-left: 1rem;
}
.header-categories{
    height: min-content;
    margin-right: 2rem;
    display: flex;
    background: rgba(15, 8, 8, 0);
    justify-content: flex-end;
    gap: 3rem;
    align-items: center;
}
.category-item{
    width: max-content;
    height: max-content;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2rem;
  font-style: normal;
  border-bottom: 2px solid #D4AF37;
}
